In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('india_import_list.xlsx')

In [3]:
df.head()

                Country    Value  Year
0                 China  $55.89B  2017
1         United States  $19.14B  2017
2  United Arab Emirates  $16.68B  2017
3          Saudi Arabia  $15.44B  2017
4           Switzerland  $14.93B  2017

In [4]:
# remove countries India doesn't imported from in 2017. 
df = df[df['Year'] == 2017]

In [5]:
# Get country names with codes from Plotly csv file of country-wise GDP on GitHub
codes_df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2014_world_gdp_with_codes.csv')

In [6]:
codes_df.head()

          COUNTRY  GDP (BILLIONS) CODE
0     Afghanistan           21.71  AFG
1         Albania           13.40  ALB
2         Algeria          227.80  DZA
3  American Samoa            0.75  ASM
4         Andorra            4.80  AND

In [7]:
codes_df.shape

(222, 3)

In [8]:
pd.isnull(codes_df).sum()

COUNTRY           0
GDP (BILLIONS)    0
CODE              0
dtype: int64

In [9]:
pd.isnull(df).sum()

Country    0
Value      0
Year       0
dtype: int64

In [10]:
codes_df.drop('GDP (BILLIONS)', axis=1, inplace=True)

In [11]:
# rename columns of codes_df
codes_df.columns = ['Country', 'Code']

In [12]:
codes_df.head()

          Country Code
0     Afghanistan  AFG
1         Albania  ALB
2         Algeria  DZA
3  American Samoa  ASM
4         Andorra  AND

In [13]:
df['country'] = df['Country'].apply(lambda x: x.lower()) 
codes_df['country'] = codes_df['Country'].apply(lambda x: x.lower())

In [14]:
# take inner join of df and codes_df
import_df = pd.merge(df, codes_df, how='inner', on='country')
import_df.head()

,Country_x,Value,Year,country,Country_y,Code
0,China,$55.89B,2017,china,China,CHN
1,United States,$19.14B,2017,united states,United States,USA
2,United Arab Emirates,$16.68B,2017,united arab emirates,United Arab Emirates,ARE
3,Saudi Arabia,$15.44B,2017,saudi arabia,Saudi Arabia,SAU
4,Switzerland,$14.93B,2017,switzerland,Switzerland,CHE

In [15]:
import_df.drop(['country','Country_y'], axis=1, inplace=True)

In [16]:
import_df.head()

              Country_x    Value  Year Code
0                 China  $55.89B  2017  CHN
1         United States  $19.14B  2017  USA
2  United Arab Emirates  $16.68B  2017  ARE
3          Saudi Arabia  $15.44B  2017  SAU
4           Switzerland  $14.93B  2017  CHE

In [17]:
import_df.columns = ['country','import','year','code']
import_df.head()

                country   import  year code
0                 China  $55.89B  2017  CHN
1         United States  $19.14B  2017  USA
2  United Arab Emirates  $16.68B  2017  ARE
3          Saudi Arabia  $15.44B  2017  SAU
4           Switzerland  $14.93B  2017  CHE

In [18]:
import_df['import'].apply(lambda x: str(x)[-1]).unique()

array(['B', 'M', 'K', '9'], dtype=object)

In [19]:
def clean_import(x):
    x = str(x)[1:]
    if x[-1] == 'B':
        return float(x[:-1])
    elif x[-1] == 'M':
        return float(x[:-1])/1000
    elif x[-1] == 'K':
        return float(x[:-1])/1000000
    else:
        return float(x)

In [20]:
import_df['import'] = import_df['import'].apply(clean_import)

In [21]:
import_df.head()

                country  import  year code
0                 China   55.89  2017  CHN
1         United States   19.14  2017  USA
2  United Arab Emirates   16.68  2017  ARE
3          Saudi Arabia   15.44  2017  SAU
4           Switzerland   14.93  2017  CHE

In [23]:
# Total import by India in 2017
import_df['import'].sum()

362.80026476

In [22]:
import_df.to_csv('import_cleaned.csv',index=False)

In [80]:
import plotly
import plotly.graph_objs as go
from plotly import tools

In [81]:
plotly.offline.init_notebook_mode(connected=True)

In [112]:
data = [dict(
    type = 'choropleth',
    locations = import_df['code'],
    z = import_df['import'],
    text = import_df['country'],
    #colorscale = 'RdBu',
    #reversescale = True,
    colorbar = dict(
        tickprefix = '$',
        title = 'Import<br>Billions US$',
    )
)]

layout = dict(
    title = 'Import by India from Countries around the World in USD Billions',
    geo = dict(
        showframe = False,
        #showcoastlines = False,
        projection = dict(
            type = 'Mercator'
        )
    )
)

plotly.offline.iplot(dict(data = data, layout = layout), validate=False)

In [115]:
data = [dict(
    type = 'choropleth',
    locations = import_df['code'],
    z = import_df['import'],
    text = import_df['country'],
    #colorscale = 'RdBu',
    #reversescale = True,
    colorbar = dict(
        tickprefix = '$',
        title = 'Import<br>Billions US$',
    )
)]

layout = dict(
    title = 'Import by India from Countries around the World in USD Billions',
    geo = dict(
        showframe = False,
        #showcoastlines = False,
        projection = dict(
            type = 'Mercator'
        )
    )
)

plotly.offline.plot(dict(data = data, layout = layout), validate=False, show_link=False, include_plotlyjs=False, output_type='div')

'<div id="22c33b8b-cdc4-4a53-a3aa-e221daeb03b5" style="height: 100%; width: 100%;" class="plotly-graph-div"></div><script type="text/javascript">window.PLOTLYENV=window.PLOTLYENV || {};window.PLOTLYENV.BASE_URL="https://plot.ly";Plotly.newPlot("22c33b8b-cdc4-4a53-a3aa-e221daeb03b5", [{"type": "choropleth", "locations": ["CHN", "USA", "ARE", "SAU", "CHE", "IDN", "IRQ", "AUS", "DEU", "HKG", "JPN", "IRN", "MYS", "NGA", "RUS", "QAT", "SGP", "ZAF", "THA", "KWT", "FRA", "BEL", "VEN", "BRA", "CAN", "GBR", "ITA", "VNM", "AGO", "OMN", "MEX", "ARG", "GHA", "NLD", "UKR", "PER", "ISR", "CHL", "BWA", "ESP", "SWE", "EGY", "FIN", "DZA", "TUR", "KAZ", "ZMB", "MOZ", "TZA", "JOR", "AUT", "NOR", "MAR", "PHL", "LKA", "GNQ", "POL", "IRL", "BFA", "NZL", "BOL", "CZE", "SEN", "DOM", "BGD", "COL", "GIN", "DNK", "PAK", "AZE", "BRN", "SDN", "AFG", "NPL", "BHR", "ROU", "GAB", "BTN", "CMR", "HUN", "BEN", "ECU", "LAO", "PRT", "LTU", "PNG", "TGO", "PRY", "BLR", "BGR", "MLI", "TUN", "MDG", "UZB", "SVN", "YEM", "SUR", "SSD", "SVK", "GRC", "LSO", "CRI", "TCD", "KEN", "SLB", "ZWE", "EST", "LVA", "UGA", "NAM", "TTO", "TJK", "KHM", "PAN", "LUX", "LBR", "ALB", "ETH", "KGZ", "LBN", "MKD", "LBY", "HRV", "GEO", "COM", "SYR", "URY", "NER", "SRB", "SLE", "MWI", "MUS", "TKM", "MLT", "GTM", "HND", "BDI", "CYP", "NCL", "SLV", "SWZ", "BIH", "MAC", "CUW", "HTI", "CYM", "ISL", "GUY", "MDV", "NIC", "JAM", "DJI", "RWA", "SOM", "MRT", "CAF", "ERI", "CUB", "MNG", "BLZ", "MDA", "PLW", "SYC", "SMR", "VGB", "ARM", "ABW", "FJI", "LCA", "WSM", "DMA", "GRD", "MNP", "AIA", "MHL", "BRB", "PYF", "ATG", "GRL", "MNE", "COK", "GIB", "TUV", "VUT"], "z": [55.89, 19.14, 16.68, 15.44, 14.93, 12.21, 11.51, 10.08, 9.8, 8.24, 7.99, 7.66, 6.57, 6.33, 6.13, 5.94, 5.26, 5.09, 5.06, 4.72, 4.71, 4.57, 4.29, 3.94, 3.53, 3.43, 3.4, 3.29, 3.07, 2.76, 2.64, 1.89, 1.89, 1.79, 1.76, 1.75, 1.5, 1.38, 1.28, 1.25, 1.11, 0.9586399999999999, 0.95725, 0.9317799999999999, 0.8588899999999999, 0.78001, 0.77147, 0.7601, 0.7001000000000001, 0.6900499999999999, 0.66911, 0.6381, 0.6049500000000001, 0.57916, 0.57035, 0.56686, 0.55377, 0.54139, 0.53106, 0.49782, 0.49736, 0.49226, 0.48816000000000004, 0.46793, 0.45941000000000004, 0.43751999999999996, 0.4155, 0.40108, 0.38397000000000003, 0.35643, 0.35149, 0.33925, 0.33056, 0.31125, 0.30569999999999997, 0.3018, 0.24722, 0.24169, 0.20628, 0.19699, 0.19326, 0.16527, 0.15102000000000002, 0.14686000000000002, 0.13696, 0.13306, 0.13201, 0.12897999999999998, 0.12262, 0.11109999999999999, 0.10643000000000001, 0.09974, 0.09348999999999999, 0.09017, 0.08081, 0.07820999999999999, 0.06985, 0.06704, 0.06576, 0.06519, 0.062340000000000007, 0.05866, 0.05643, 0.05319, 0.04985, 0.04949, 0.0444, 0.04307, 0.04254, 0.04244, 0.04102, 0.038799999999999994, 0.038200000000000005, 0.0373, 0.03651, 0.03372, 0.03286, 0.03134, 0.03053, 0.02816, 0.027100000000000003, 0.024579999999999998, 0.024550000000000002, 0.02336, 0.02144, 0.02133, 0.020149999999999998, 0.019579999999999997, 0.019059999999999997, 0.01864, 0.01445, 0.01436, 0.013099999999999999, 0.01289, 0.01134, 0.01109, 0.01057, 0.009720000000000001, 0.009519999999999999, 0.00744, 0.00698, 0.00691, 0.00638, 0.00574, 0.00553, 0.00523, 0.00497, 0.00477, 0.00425, 0.00349, 0.00348, 0.0034300000000000003, 0.00332, 0.0028599999999999997, 0.00273, 0.0022299999999999998, 0.0019399999999999999, 0.00163, 0.00151, 0.00116, 0.0010500000000000002, 0.00075981, 0.0006902400000000001, 0.00053788, 0.00050738, 0.00044207, 0.00031208, 0.00028719, 0.00026488, 0.00023849, 0.00019277, 0.00018108000000000002, 0.00017218, 0.00013276, 0.00010865999999999999, 7.681e-05, 5.224e-05, 2.352e-05, 1.066e-05, 9.9e-06, 7.37e-06, 5.6e-06, 1.19e-06, 49.0], "text": ["China", "United States", "United Arab Emirates", "Saudi Arabia", "Switzerland", "Indonesia", "Iraq", "Australia", "Germany", "Hong Kong", "Japan", "Iran", "Malaysia", "Nigeria", "Russia", "Qatar", "Singapore", "South Africa", "Thailand", "Kuwait", "France", "Belgium", "Venezuela", "Brazil", "Canada", "United Kingdom", "Italy", "Vietnam", "Angola", "Oman", "Mexico", "Argentina", "Ghana", "Netherlands", "Ukraine", "Peru", "Israel", "Chile", "Botswana", "Spain", "Sweden", "Egypt", "Finland", "Algeria", "Turkey", "Kazakhstan", "Zambia", "Mozambique", "Tanzania", "Jordan", "Austria", "Norway", "Morocco", "Philippines", "Sri Lanka", "Equatorial Guinea", "Poland", "Ireland", "Burkina Faso", "New Zealand", "Bolivia", "Czech Republic", "Senegal", "Dominican Republic", "Bangladesh", "Colombia", "Guinea", "Denmark", "Pakistan", "Azerbaijan", "Brunei", "Sudan", "Afghanistan", "Nepal", "Bahrain", "Romania", "Gabon", "Bhutan", "Cameroon", "Hungary", "Benin", "Ecuador", "Laos", "Portugal", "Lithuania", "Papua New Guinea", "Togo", "Paraguay", "Belarus", "Bulgaria", "Mali", "Tunisia", "Madagascar", "Uzbekistan", "Slovenia", "Yemen", "Suriname", "South Sudan", "Slovakia", "Greece", "Lesotho", "Costa Rica", "Chad", "Kenya", "Solomon Islands", "Zimbabwe", "Estonia", "Latvia", "Uganda", "Namibia", "Trinidad And Tobago", "Tajikistan", "Cambodia", "Panama", "Luxembourg", "Liberia", "Albania", "Ethiopia", "Kyrgyzstan", "Lebanon", "Macedonia", "Libya", "Croatia", "Georgia", "Comoros", "Syria", "Uruguay", "Niger", "Serbia", "Sierra Leone", "Malawi", "Mauritius", "Turkmenistan", "Malta", "Guatemala", "Honduras", "Burundi", "Cyprus", "New Caledonia", "El Salvador", "Swaziland", "Bosnia And Herzegovina", "Macau", "Curacao", "Haiti", "Cayman Islands", "Iceland", "Guyana", "Maldives", "Nicaragua", "Jamaica", "Djibouti", "Rwanda", "Somalia", "Mauritania", "Central African Republic", "Eritrea", "Cuba", "Mongolia", "Belize", "Moldova", "Palau", "Seychelles", "San Marino", "British Virgin Islands", "Armenia", "Aruba", "Fiji", "Saint Lucia", "Samoa", "Dominica", "Grenada", "Northern Mariana Islands", "Anguilla", "Marshall Islands", "Barbados", "French Polynesia", "Antigua and Barbuda", "Greenland", "Montenegro", "Cook Islands", "Gibraltar", "Tuvalu", "Vanuatu"], "colorbar": {"tickprefix": "$", "title": "Import<br>Billions US$"}}], {"title": "Import by India from Countries around the World in USD Billions", "geo": {"showframe": false, "projection": {"type": "Mercator"}}}, {"showLink": false, "linkText": "Export to plot.ly"})</script>'

In [117]:
# create svg image
#plotly.offline.iplot(dict(data = data, layout = layout), validate=False, show_link=False, image='svg')