In [1]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
from time import sleep

#### Scrape top 6 teams in EPL each year from 2008.

In [8]:
top_six_dict = {}

start_year = 2008

for i in range(10):
    current_year = start_year + i
    six_teams = []

    year_url = "http://www.skysports.com/premier-league-table/" + str(current_year)
    page = requests.get(year_url)
    soup = BeautifulSoup(page.content, 'html.parser')

    league_table = soup.select("tbody tr")
    for team in league_table[:6]:
        six_teams.append(team.select("td")[1].text.strip())

    top_six_dict[current_year] = six_teams

    sleep(5)

In [11]:
top_six_df = pd.DataFrame(top_six_dict)
top_six_df

,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Manchester United,Chelsea,Manchester United,Manchester City,Manchester United,Manchester City,Chelsea,Leicester City,Chelsea,Manchester City
1,Liverpool,Manchester United,Chelsea,Manchester United,Manchester City,Liverpool,Manchester City,Arsenal,Tottenham Hotspur,Manchester United
2,Chelsea,Arsenal,Manchester City,Arsenal,Chelsea,Chelsea,Arsenal,Tottenham Hotspur,Manchester City,Tottenham Hotspur
3,Arsenal,Tottenham Hotspur,Arsenal,Tottenham Hotspur,Arsenal,Arsenal,Manchester United,Manchester City,Liverpool,Liverpool
4,Everton,Manchester City,Tottenham Hotspur,Newcastle United,Tottenham Hotspur,Everton,Tottenham Hotspur,Manchester United,Arsenal,Chelsea
5,Aston Villa,Aston Villa,Liverpool,Chelsea,Everton,Tottenham Hotspur,Liverpool,Southampton,Manchester United,Arsenal

In [12]:
top_six_df.to_csv('data/top_six_teams.csv', index=False)