In [22]:
import numpy as np
import pandas as pd

            W  D  L 
2008: Man Utd:  3  4  3  
2009: Chelsea:  6  0  4  
2010: Man Utd:  5  2  3  
2011: Man City: 8  0  2  
2012: Man Utd:  4  2  4  
2013: Man City: 6  1  3  
2014: Chelsea:  4  5  1  
2015: Leicester:3  5  2  
2016: Chelsea:  5  1  4  
2017: Man City: 8  0  2

In [23]:
top_six_df = pd.read_csv('data/top_six_teams.csv')

In [24]:
list(top_six_df.iloc[0,:].values)

['Manchester United',
 'Chelsea',
 'Manchester United',
 'Manchester City',
 'Manchester United',
 'Manchester City',
 'Chelsea',
 'Leicester City',
 'Chelsea',
 'Manchester City']

In [25]:
year = list(range(2008,2018))
winner = list(top_six_df.iloc[0,:].values)
win = [3,6,5,8,4,6,4,3,5,8]
draw = [4,0,2,0,2,1,5,5,1,0]
lose = [3,4,3,2,4,3,1,2,4,2]

In [26]:
df = pd.DataFrame({'year':year, 'winner':winner, 'win':win, 'draw':draw, 'lose':lose})
df

   draw  lose  win             winner  year
0     4     3    3  Manchester United  2008
1     0     4    6            Chelsea  2009
2     2     3    5  Manchester United  2010
3     0     2    8    Manchester City  2011
4     2     4    4  Manchester United  2012
5     1     3    6    Manchester City  2013
6     5     1    4            Chelsea  2014
7     5     2    3     Leicester City  2015
8     1     4    5            Chelsea  2016
9     0     2    8    Manchester City  2017

In [27]:
def calc_points(x):
    return x['win'] * 3 + x['draw'] * 1

In [28]:
df['points'] = df.apply(calc_points, axis=1)
df

   draw  lose  win             winner  year  points
0     4     3    3  Manchester United  2008      13
1     0     4    6            Chelsea  2009      18
2     2     3    5  Manchester United  2010      17
3     0     2    8    Manchester City  2011      24
4     2     4    4  Manchester United  2012      14
5     1     3    6    Manchester City  2013      19
6     5     1    4            Chelsea  2014      17
7     5     2    3     Leicester City  2015      14
8     1     4    5            Chelsea  2016      16
9     0     2    8    Manchester City  2017      24

In [29]:
df['points'].mean()

17.6

Trying to win maximum points against top 6 teams is the best way to go if a club is damn serious about EPL title.

In [30]:
points_df = pd.read_csv('data/premier_league.csv')
points_df

    2008  2009  2010  2011  2012  2013  2014  2015  2016   2017
0   90.0  86.0  80.0  89.0  89.0  86.0  87.0  81.0  93.0  100.0
1   86.0  85.0  71.0  89.0  78.0  84.0  79.0  71.0  86.0   81.0
2   83.0  75.0  71.0  70.0  75.0  82.0  75.0  70.0  78.0   77.0
3   72.0  70.0  68.0  69.0  73.0  79.0  70.0  66.0  76.0   75.0
4   63.0  67.0  62.0  65.0  72.0  72.0  64.0  66.0  75.0   70.0
5   62.0  64.0  58.0  64.0  63.0  69.0  62.0  63.0  69.0   63.0
6   53.0  63.0  54.0  56.0  61.0  64.0  60.0  62.0  61.0   54.0
7   51.0  61.0  49.0  52.0  49.0  56.0  56.0  60.0  46.0   49.0
8   51.0  50.0  48.0  52.0  46.0  50.0  54.0  51.0  46.0   47.0
9   50.0  50.0  47.0  47.0  46.0  49.0  48.0  50.0  45.0   44.0
10  45.0  47.0  47.0  47.0  44.0  45.0  47.0  47.0  45.0   44.0
11  45.0  46.0  46.0  47.0  43.0  42.0  47.0  47.0  44.0   44.0
12  41.0  44.0  46.0  45.0  42.0  40.0  44.0  45.0  44.0   42.0
13  41.0  39.0  46.0  45.0  41.0  38.0  41.0  43.0  41.0   41.0
14  41.0  38.0  43.0  43.0  41.0  38.0  39.0  42.0  41.0   40.0
15  36.0  36.0  42.0  38.0  41.0  37.0  38.0  42.0  40.0   37.0
16  35.0  35.0  40.0  37.0  39.0  36.0  38.0  39.0  40.0   36.0
17  34.0  30.0  39.0  36.0  36.0  33.0  35.0  37.0  34.0   33.0
18  32.0  30.0  39.0  31.0  28.0  32.0  33.0  34.0  28.0   33.0
19  32.0  19.0  33.0  25.0  25.0  30.0  30.0  17.0  24.0   31.0

In [31]:
df.rename(columns={'points' : 'points_six'}, inplace=True)
df.head(3)

   draw  lose  win             winner  year  points_six
0     4     3    3  Manchester United  2008          13
1     0     4    6            Chelsea  2009          18
2     2     3    5  Manchester United  2010          17

In [34]:
df['winner_pts'] = list(points_df.iloc[0,:].values)
df['runnerup_pts'] = list(points_df.iloc[1,:].values)
df['weak_opposition_pts'] = df['winner_pts'] - df['points_six']
df

,draw,lose,win,winner,year,points_six,winner_pts,runnerup_pts,weak_opposition_pts
0,4,3,3,Manchester United,2008,13,90.0,86.0,77.0
1,0,4,6,Chelsea,2009,18,86.0,85.0,68.0
2,2,3,5,Manchester United,2010,17,80.0,71.0,63.0
3,0,2,8,Manchester City,2011,24,89.0,89.0,65.0
4,2,4,4,Manchester United,2012,14,89.0,78.0,75.0
5,1,3,6,Manchester City,2013,19,86.0,84.0,67.0
6,5,1,4,Chelsea,2014,17,87.0,79.0,70.0
7,5,2,3,Leicester City,2015,14,81.0,71.0,67.0
8,1,4,5,Chelsea,2016,16,93.0,86.0,77.0
9,0,2,8,Manchester City,2017,24,100.0,81.0,76.0

## Visualization

In [18]:
import plotly
import plotly.graph_objs as go
from plotly import tools

In [19]:
plotly.offline.init_notebook_mode(connected=True)

In [47]:
trace0 = go.Scatter(
    x = df['year'],
    y = df['weak_opposition_pts'],
    name = 'Winner Easy Points',
    fill = None,
    mode = 'lines',
    line = dict(color='#64b2ea')
)

trace1 = go.Scatter(
    x = df['year'],
    y = df['runnerup_pts'],
    name = 'Runner-up Pts',
    fill = 'tonexty',
    mode = 'lines',
    line = dict(color='#ed5a5c')
)

trace2 = go.Scatter(
    x = df['year'],
    y = df['winner_pts'],
    name = 'Winner Pts',
    fill = 'tonexty',
    mode = 'lines',
    line = dict(color='#58e86d')
)



data = [trace0, trace1, trace2]

layout = dict(
    title = 'Role of Hard Points in Winning EPL',
    yaxis = dict(
        range = [0,100],
        zeroline = False
    )
)

plotly.offline.iplot({'data':data, 'layout':layout})

green area represents extra hard points. 
red area represents necessary hard points.

In [49]:
# to save svg image of above graph
#plotly.offline.plot({'data' : data, 'layout' : layout}, validate=False, show_link=False, image='svg')

In [50]:
plotly.offline.plot({'data' : data, 'layout' : layout}, validate=False, show_link=False, include_plotlyjs=False, output_type='div')

'<div id="b9a837f9-1875-4123-9f76-4a5a663b34ce" style="height: 100%; width: 100%;" class="plotly-graph-div"></div><script type="text/javascript">window.PLOTLYENV=window.PLOTLYENV || {};window.PLOTLYENV.BASE_URL="https://plot.ly";Plotly.newPlot("b9a837f9-1875-4123-9f76-4a5a663b34ce", [{"line": {"color": "#64b2ea"}, "mode": "lines", "name": "Winner Easy Points", "x": [2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017], "y": [77.0, 68.0, 63.0, 65.0, 75.0, 67.0, 70.0, 67.0, 77.0, 76.0], "type": "scatter"}, {"fill": "tonexty", "line": {"color": "#ed5a5c"}, "mode": "lines", "name": "Runner-up Pts", "x": [2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017], "y": [86.0, 85.0, 71.0, 89.0, 78.0, 84.0, 79.0, 71.0, 86.0, 81.0], "type": "scatter"}, {"fill": "tonexty", "line": {"color": "#58e86d"}, "mode": "lines", "name": "Winner Pts", "x": [2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017], "y": [90.0, 86.0, 80.0, 89.0, 89.0, 86.0, 87.0, 81.0, 93.0, 100.0], "type": "scatter"}], {"title": "Role of Hard Points in Winning EPL", "yaxis": {"range": [0, 100], "zeroline": false}}, {"showLink": false, "linkText": "Export to plot.ly"})</script>'