In [7]:
import numpy as np
import pandas as pd

                W  D  L 
2008: Man Utd:  3  4  3
2009: Chelsea:  6  0  4
2010: Man Utd:  5  2  3
2011: Man City: 8  0  2
2012: Man Utd:  4  2  4
2013: Man City: 6  1  3
2014: Chelsea:  4  5  1
2015: Leicester:3  5  2
2016: Chelsea:  5  1  4
2017: Man City: 8  0  2

In [8]:
top_six_df = pd.read_csv('data/top_six_teams.csv')

In [12]:
list(top_six_df.iloc[0,:].values)

['Manchester United',
 'Chelsea',
 'Manchester United',
 'Manchester City',
 'Manchester United',
 'Manchester City',
 'Chelsea',
 'Leicester City',
 'Chelsea',
 'Manchester City']

In [13]:
year = list(range(2008,2018))
winner = list(top_six_df.iloc[0,:].values)
win = [3,6,5,8,4,6,4,3,5,8]
draw = [4,0,2,0,2,1,5,5,1,0]
lose = [3,4,3,2,4,3,1,2,4,2]

In [17]:
df = pd.DataFrame({'year':year, 'winner':winner, 'win':win, 'draw':draw, 'lose':lose})
df

   draw  lose  win             winner  year
0     4     3    3  Manchester United  2008
1     0     4    6            Chelsea  2009
2     2     3    5  Manchester United  2010
3     0     2    8    Manchester City  2011
4     2     4    4  Manchester United  2012
5     1     3    6    Manchester City  2013
6     5     1    4            Chelsea  2014
7     5     2    3     Leicester City  2015
8     1     4    5            Chelsea  2016
9     0     2    8    Manchester City  2017

In [18]:
def calc_points(x):
    return x['win'] * 3 + x['draw'] * 1

In [22]:
df['points'] = df.apply(calc_points, axis=1)
df

   draw  lose  win             winner  year  points
0     4     3    3  Manchester United  2008      13
1     0     4    6            Chelsea  2009      18
2     2     3    5  Manchester United  2010      17
3     0     2    8    Manchester City  2011      24
4     2     4    4  Manchester United  2012      14
5     1     3    6    Manchester City  2013      19
6     5     1    4            Chelsea  2014      17
7     5     2    3     Leicester City  2015      14
8     1     4    5            Chelsea  2016      16
9     0     2    8    Manchester City  2017      24

In [23]:
df['points'].mean()

17.6