In [1]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
from time import sleep

In [2]:
movie_dict = {}
start_year = 2008

for i in range(10):
    current_year  = start_year + i
    ratings = []
    
    imdb_url = 'https://www.imdb.com/search/title?title_type=feature&release_date=' + str(current_year) + '-01-01,' + str(current_year) + '-12-31&num_votes=25000,&countries=us&view=simple&sort=user_rating,desc'
    
    page = requests.get(imdb_url)
    soup = BeautifulSoup(page.content, 'html.parser')
    
    movie_boxes = soup.select("div[class='lister-item mode-simple']")
    
    for movie in movie_boxes:
        ratings.append(float(movie.select("div[class='col-imdb-rating']")[0].text))
        
    movie_dict[current_year] = ratings
    
    sleep(5)

In [3]:
df = pd.DataFrame(movie_dict)

In [4]:
df.head()

   2008  2009  2010  2011  2012  2013  2014  2015  2016  2017
0   9.0   8.3   8.8   8.2   8.4   8.2   8.6   8.2   8.2   8.5
1   8.4   8.3   8.3   8.1   8.4   8.1   8.5   8.2   8.1   8.2
2   8.1   8.1   8.1   8.1   8.1   8.1   8.1   8.1   8.1   8.1
3   8.0   8.0   8.1   7.9   8.0   8.1   8.1   8.1   8.0   8.1
4   8.0   7.9   8.0   7.8   7.9   8.0   8.1   8.0   8.0   8.0

In [5]:
import os

if not os.path.exists('./data'):
    os.mkdir('./data')

df.to_csv('data/top_ratings.csv', index=False)