In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('india_import_list.xlsx')

In [4]:
df.head()

                Country    Value  Year
0                 China  $55.89B  2017
1         United States  $19.14B  2017
2  United Arab Emirates  $16.68B  2017
3          Saudi Arabia  $15.44B  2017
4           Switzerland  $14.93B  2017

In [7]:
# remove countries India doesn't imported from in 2017. 
df = df[df['Year'] == 2017]

In [8]:
# Get country names with codes from Plotly csv file of country-wise GDP on GitHub
codes_df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2014_world_gdp_with_codes.csv')

In [9]:
codes_df.head()

          COUNTRY  GDP (BILLIONS) CODE
0     Afghanistan           21.71  AFG
1         Albania           13.40  ALB
2         Algeria          227.80  DZA
3  American Samoa            0.75  ASM
4         Andorra            4.80  AND

In [10]:
codes_df.shape

(222, 3)

In [12]:
pd.isnull(codes_df).sum()

COUNTRY           0
GDP (BILLIONS)    0
CODE              0
dtype: int64

In [13]:
pd.isnull(df).sum()

Country    0
Value      0
Year       0
dtype: int64

In [16]:
codes_df.drop('GDP (BILLIONS)', axis=1, inplace=True)

In [ ]:
#